.view-wrapper{
  background: #EEEEEE;
  min-height: calc(100vh - 60px);
  padding-bottom: 16px;
  width: 100%;
}

.view-detail {
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}