
.skeleton {
    background: #f2f2f2;
    overflow: hidden;
    position: relative;
}

.skeleton-before {
    animation: loading 1s infinite linear;
    background: linear-gradient(to right, #f2f2f2, #ddd, #f2f2f2);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
}