.itemsResult{
    background: #EEEEEE;
   /*  height: calc(100vh - 60px); */
    padding-bottom: 16px;
    width: 100%;
}

.itemsResult__wrapper{
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}