@import '../../styles/CommonColors.scss';
@import '../../styles/CommonFontSize.scss';

.bold {
  color: $gray;
  font-weight: bold;
}

.categories {
  padding: 16px 0;
}

.categories__item {
  color: $middle-gray;
  cursor: pointer;
  font-size: $small;
}

.categories__separator {
  height: 14px;
  margin: 0 5px 2px 5px;
}
